html{
        font-family: 'Nunito';  
}
header, footer{
    display: none;
}
body{
    background-color: #130f0d;
    color: white;
}
.container{
    display: flex;
    flex-direction: row;

}
.card{
    background: #141316;
    border: 1px solid #FD951F11;
    border-radius: 4px;

}
.tasks{
    padding: 16px;

    min-width: 282px;
    min-height: 200px;
}
.taskGroup{
    padding: 16px;
    box-shadow: 0 2px 2px -1px #FD951Fcc;
    width: 250px;
    margin: 25px 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    background-color: #1A1A1C;
    display: flex;
    justify-content: space-evenly;
}
.taskGroup button{
    min-height: 12px;
    width: 12px;
    border: solid 1px #FD951Fcc;
    background-color: red;
    border-radius: 3px;
}








/* IMPORTANT: */
.highlight {
    background-color: #FD951F08;
}

.taskGroup, .tasks {
    transition: 400ms;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color: #4cd13711;
}